# Container Image Build: ${{ values.containerImageName }}
[![Container Image Build](https://github.com/${{ values.destinationRepoOrg }}/bci-${{ values.containerImageName }}/actions/workflows/build.yaml/badge.svg)](https://github.com/${{ values.destinationRepoOrg }}/bci-${{ values.containerImageName }}/actions/workflows/build.yaml)
[![Nightly Container Image Build](https://github.com/${{ values.destinationRepoOrg }}/bci-${{ values.containerImageName }}/actions/workflows/nightly.yaml/badge.svg)](https://github.com/${{ values.destinationRepoOrg }}/bci-${{ values.containerImageName }}/actions/workflows/nightly.yaml)
The purpose of this template is to establish a starting skeleton for the purpose of creating a base/parent container image.  The created image may then be used as the basis for future containerized application image creation.

([See HOWTO](./HOWTO.md))

**NOTE:** This README.md file should be completely rewritten with content specific to the application created.