name: Container Image Build

on:
  #schedule:
  #  - cron: '0 0 1 2,5,8,11 *'
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'
      - '**/*.md'
  pull_request:
    types:
      - closed
    paths-ignore:
      - '.github/workflows/**'
      - '**/*.md'
  workflow_dispatch:
    description: 'Logging level'
    required: true
    default: 'warning'
    type: choice
    options:
      - error
      - warning
      - info
      - debug

jobs:
  # See the below URL reference for information regarding the parameters
  # available for the ru-container-image-build reusable workflow.
  # https://github.com/HCACPA/.github/blob/main/docs/ru-container-image-build.md
  build-image:
    if: github.repository != 'HCACPA/base-container-image-build-template'
    uses: HCACPA/.github/.github/workflows/ru-container-image-build.yml@v1.0.10
    secrets:
      registry-username: {% raw %}${{ secrets.{% endraw %}${{ values.imageRegistryUserSecret }}{% raw %} }}{% endraw %}
      registry-password: {% raw %}${{ secrets.{% endraw %}${{ values.imageRegistryPswdSecret }}{% raw %} }}{% endraw %}
      wiz-client-id: {% raw %}${{ secrets.WIZ_CLIENT_ID }}{% endraw %}
      wiz-client-secret: {% raw %}${{ secrets.WIZ_CLIENT_SECRET }}{% endraw %}
    with:
      action-runner-list: '["onprem-k8s-arc","lnx-amd64","enterprise","dind","self-hosted"]'
      alternate-image-tag: 'latest'
      create-release: true
      image-name: ${{ values.imageRegistryPath }}${{ "/" if (values.imageRegistryPath != "") }}${{ values.containerImageName }}
      registry: '${{ values.imageRegistryName }}'
